/*
AUTEUR : Aymerik ABOSO
ANNEE : 2018
*/



/* - - - - - - - - - PAGE ACCUEIL - - - - - - - - - */



.accueil_border_centre {
	-fx-background-color: linear-gradient(#007ac1, #03a9f4);
}

.accueil_border_top {
	-fx-background-color: #01579b;
}

.accueil_border_bottom {
	-fx-background-color: #01579b;
}

.accueil_bouton_se_connecter {
	-fx-text-fill: #ffffff;
	-fx-font-size: 30pt;
	-fx-background-color: #01579b;
	-fx-background-radius:30;
}

.accueil_champ_pseudo {
	-fx-text-fill: #ffffff;
	-fx-font-size: 20pt;
}

.accueil_label_top {
	-fx-text-fill: #ffffff;
	-fx-font-size: 20pt;
	-fx-font-style: italic;
}



/* - - - - - - - - - PAGE CREDIT - - - - - - - - - */



.credits_label_top {
	-fx-text-fill: #ffffff;
	-fx-font-size: 20pt;
	-fx-font-style: italic;
}

.credits_label_credits {
	-fx-font-size: 20pt;
}

.credits_bouton_retour {
	-fx-text-fill: #ffffff;
	-fx-font-size: 20pt;
	-fx-font-weight: bold;
}

.credits_border_centre {
	-fx-background-color: linear-gradient(#007ac1, #03a9f4);
}

.credits_border_top {
	-fx-background-color: #01579b;
}

.credits_border_bottom {
	-fx-background-color: #01579b;
}

.credits_texte_en_valeur {
	-fx-font-size: 20pt;
	-fx-text-fill: /*#FFD700*/#01579b;
	-fx-font-weight: bold;
	-fx-font-style: italic;
}

.credits_texte_normal {
	-fx-font-size: 16pt;
	-fx-text-fill: #ffffff;
}

